[submodule "rfs-ess"]
	path = ess
	url = git@github.com:librfs/rfs-ess.git
[submodule "rfs-fuse"]
	path = fuse
	url = git@github.com:librfs/rfs-fuse.git
[submodule "rfs-pool"]
	path = pool
	url = git@github.com:librfs/rfs-pool.git
